.iconFolder {
  -webkit-mask-image: url('svg/icons8-calendar.svg');
}

.iconYear2007 {
  -webkit-mask-image: url('svg/icons8-calendar.svg');
}

.iconCalendar {
  -webkit-mask-image: url('svg/icons8-calendar.svg');
}