:root {
  // Font Size

  --fs-1: 0.75rem;
  --fs-2: 0.875rem;
  --fs-3: 1rem;
  --fs-4: 1.125rem;
  --fs-5: 1.5rem;
  --fs-6: 1.5rem;
  --fs-7: 1.875rem;
  --fs-8: 2.25rem;
  --fs-9: 3rem;

  // Spacing

  --s-0: 0;
  --s-1: 0.25rem;
  --s-2: 0.5rem;
  --s-3: 0.75rem;
  --s-4: 1rem;
  --s-5: 1.25rem;
  --s-6: 1.5rem;
  --s-7: 2rem;
  --s-8: 3rem;
  --s-9: 4rem;
  --s-10: 5rem;

  // Color

  --pri-1: hsl(207, 73%, 90%);
  --pri-2: hsl(207, 73%, 80%);
  --pri-3: hsl(207, 73%, 70%);
  --pri-4: hsl(207, 73%, 60%);
  --pri-5: hsl(207, 73%, 50%);
  --pri-6: hsl(207, 73%, 40%);
  --pri-7: hsl(207, 73%, 30%);
  --pri-8: hsl(207, 73%, 20%);
  --pri-9: hsl(207, 73%, 10%);

  --sec-1: hsl(207, 73%, 90%);
  --sec-2: hsl(207, 73%, 80%);
  --sec-3: hsl(207, 73%, 70%);
  --sec-4: hsl(207, 73%, 60%);
  --sec-5: hsl(207, 73%, 50%);
  --sec-6: hsl(207, 73%, 40%);
  --sec-7: hsl(207, 73%, 30%);
  --sec-8: hsl(207, 73%, 20%);
  --sec-9: hsl(207, 73%, 10%);

  --con-0: hsl(0, 0%, 100%);
  --con-1: hsl(0, 0%, 90%);
  --con-2: hsl(0, 0%, 80%);
  --con-3: hsl(0, 0%, 70%);
  --con-4: hsl(0, 0%, 60%);
  --con-5: hsl(0, 0%, 50%);
  --con-6: hsl(0, 0%, 40%);
  --con-7: hsl(0, 0%, 30%);
  --con-8: hsl(0, 0%, 20%);
  --con-9: hsl(0, 0%, 10%);
  --con-10: hsl(0, 0%, 0%);

  --suc-1: hsl(145, 46%, 90%);
  --suc-2: hsl(145, 46%, 80%);
  --suc-3: hsl(145, 46%, 70%);
  --suc-4: hsl(145, 46%, 60%);
  --suc-5: hsl(145, 46%, 50%);
  --suc-6: hsl(145, 46%, 40%);
  --suc-7: hsl(145, 46%, 30%);
  --suc-8: hsl(145, 46%, 20%);
  --suc-9: hsl(145, 46%, 10%);

  --war-1: hsl(47, 81%, 90%);
  --war-2: hsl(47, 81%, 80%);
  --war-3: hsl(47, 81%, 70%);
  --war-4: hsl(47, 81%, 60%);
  --war-5: hsl(47, 81%, 50%);
  --war-6: hsl(47, 81%, 40%);
  --war-7: hsl(47, 81%, 30%);
  --war-8: hsl(47, 81%, 20%);
  --war-9: hsl(47, 81%, 10%);

  --dan-1: hsl(0, 76%, 90%);
  --dan-2: hsl(0, 76%, 80%);
  --dan-3: hsl(0, 76%, 70%);
  --dan-4: hsl(0, 76%, 60%);
  --dan-5: hsl(0, 76%, 50%);
  --dan-6: hsl(0, 76%, 40%);
  --dan-7: hsl(0, 76%, 30%);
  --dan-8: hsl(0, 76%, 20%);
  --dan-9: hsl(0, 76%, 10%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --pri-1: hsl(207, 73%, 10%);
    --pri-2: hsl(207, 73%, 20%);
    --pri-3: hsl(207, 73%, 30%);
    --pri-4: hsl(207, 73%, 40%);
    --pri-5: hsl(207, 73%, 50%);
    --pri-6: hsl(207, 73%, 60%);
    --pri-7: hsl(207, 73%, 70%);
    --pri-8: hsl(207, 73%, 80%);
    --pri-9: hsl(207, 73%, 90%);

    --sec-1: hsl(207, 73%, 10%);
    --sec-2: hsl(207, 73%, 20%);
    --sec-3: hsl(207, 73%, 30%);
    --sec-4: hsl(207, 73%, 40%);
    --sec-5: hsl(207, 73%, 50%);
    --sec-6: hsl(207, 73%, 60%);
    --sec-7: hsl(207, 73%, 70%);
    --sec-8: hsl(207, 73%, 80%);
    --sec-9: hsl(207, 73%, 90%);

    --con-0: hsl(0, 0%, 10%);
    --con-1: hsl(0, 0%, 19%);
    --con-2: hsl(0, 0%, 28%);
    --con-3: hsl(0, 0%, 37%);
    --con-4: hsl(0, 0%, 46%);
    --con-5: hsl(0, 0%, 55%);
    --con-6: hsl(0, 0%, 64%);
    --con-7: hsl(0, 0%, 73%);
    --con-8: hsl(0, 0%, 82%);
    --con-9: hsl(0, 0%, 91%);
    --con-10: hsl(0, 0%, 100%);

    --suc-1: hsl(145, 46%, 10%);
    --suc-2: hsl(145, 46%, 20%);
    --suc-3: hsl(145, 46%, 30%);
    --suc-4: hsl(145, 46%, 40%);
    --suc-5: hsl(145, 46%, 50%);
    --suc-6: hsl(145, 46%, 60%);
    --suc-7: hsl(145, 46%, 70%);
    --suc-8: hsl(145, 46%, 80%);
    --suc-9: hsl(145, 46%, 90%);

    --war-1: hsl(47, 81%, 10%);
    --war-2: hsl(47, 81%, 20%);
    --war-3: hsl(47, 81%, 30%);
    --war-4: hsl(47, 81%, 40%);
    --war-5: hsl(47, 81%, 50%);
    --war-6: hsl(47, 81%, 60%);
    --war-7: hsl(47, 81%, 70%);
    --war-8: hsl(47, 81%, 80%);
    --war-9: hsl(47, 81%, 90%);

    --dan-1: hsl(0, 76%, 10%);
    --dan-2: hsl(0, 76%, 20%);
    --dan-3: hsl(0, 76%, 30%);
    --dan-4: hsl(0, 76%, 40%);
    --dan-5: hsl(0, 76%, 50%);
    --dan-6: hsl(0, 76%, 60%);
    --dan-7: hsl(0, 76%, 70%);
    --dan-8: hsl(0, 76%, 80%);
    --dan-9: hsl(0, 76%, 90%);
  }
}
